In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings ('ignore')

In [2]:
df=pd.read_csv('loan.csv')
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [6]:
df.isnull().sum()/len(df)*100

id                              0.000000
member_id                       0.000000
loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
                                 ...
tax_liens                       0.098195
tot_hi_cred_lim               100.000000
total_bal_ex_mort             100.000000
total_bc_limit                100.000000
total_il_high_credit_limit    100.000000
Length: 111, dtype: float64

In [7]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [8]:
df.drop(['id'],axis=1,inplace=True)

In [9]:
df.drop(['member_id'],axis=1,inplace=True)

In [10]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=109)

In [12]:
df['tot_hi_cred_lim'].unique()

array([nan])

In [13]:
df.drop(['tot_hi_cred_lim'],axis=1,inplace=True)

In [14]:
df['total_bal_ex_mort'].unique()

array([nan])

In [15]:
df.drop(['total_bal_ex_mort'],axis=1,inplace=True)

In [16]:
df.drop(['total_bc_limit'],axis=1,inplace=True)

In [17]:
df.drop(['total_il_high_credit_limit'],axis=1,inplace=True)

In [18]:
df.isnull().sum()

loan_amnt                   0
funded_amnt                 0
funded_amnt_inv             0
term                        0
int_rate                    0
                        ...
num_tl_op_past_12m      39717
pct_tl_nvr_dlq          39717
percent_bc_gt_75        39717
pub_rec_bankruptcies      697
tax_liens                  39
Length: 105, dtype: int64

In [19]:
df.isnull().sum()/len(df)*100

loan_amnt                 0.000000
funded_amnt               0.000000
funded_amnt_inv           0.000000
term                      0.000000
int_rate                  0.000000
                           ...
num_tl_op_past_12m      100.000000
pct_tl_nvr_dlq          100.000000
percent_bc_gt_75        100.000000
pub_rec_bankruptcies      1.754916
tax_liens                 0.098195
Length: 105, dtype: float64

In [20]:
df.drop(['num_tl_op_past_12m'],axis=1,inplace=True)

In [21]:
df.drop(['pct_tl_nvr_dlq'],axis=1,inplace=True)

In [22]:
df.drop(['percent_bc_gt_75'],axis=1,inplace=True)

In [23]:
df.isnull().sum()/len(df)*100

loan_amnt                 0.000000
funded_amnt               0.000000
funded_amnt_inv           0.000000
term                      0.000000
int_rate                  0.000000
                           ...
num_tl_120dpd_2m        100.000000
num_tl_30dpd            100.000000
num_tl_90g_dpd_24m      100.000000
pub_rec_bankruptcies      1.754916
tax_liens                 0.098195
Length: 102, dtype: float64

In [24]:
df.drop(['num_tl_120dpd_2m'],axis=1,inplace=True)

In [25]:
df.drop(['num_tl_30dpd'],axis=1,inplace=True)

In [26]:
df.drop(['num_tl_90g_dpd_24m'],axis=1,inplace=True)

In [27]:
df.isnull().sum()/len(df)*100

loan_amnt                 0.000000
funded_amnt               0.000000
funded_amnt_inv           0.000000
term                      0.000000
int_rate                  0.000000
                           ...
num_rev_accts           100.000000
num_rev_tl_bal_gt_0     100.000000
num_sats                100.000000
pub_rec_bankruptcies      1.754916
tax_liens                 0.098195
Length: 99, dtype: float64

In [28]:
df.drop(['num_rev_accts'],axis=1,inplace=True)

In [29]:
df.drop(['num_rev_tl_bal_gt_0'],axis=1,inplace=True)

In [30]:
df.drop(['num_sats'],axis=1,inplace=True)

In [31]:
df.isnull().sum()/len(df)*100

loan_amnt                 0.000000
funded_amnt               0.000000
funded_amnt_inv           0.000000
term                      0.000000
int_rate                  0.000000
                           ...
num_bc_tl               100.000000
num_il_tl               100.000000
num_op_rev_tl           100.000000
pub_rec_bankruptcies      1.754916
tax_liens                 0.098195
Length: 96, dtype: float64

In [32]:
df.drop(['num_bc_tl'],axis=1,inplace=True)

In [33]:
df.drop(['num_il_tl'],axis=1,inplace=True)

In [34]:
df.drop(['num_op_rev_tl'],axis=1,inplace=True)

In [35]:
df.isnull().sum()/len(df)*100

loan_amnt                 0.000000
funded_amnt               0.000000
funded_amnt_inv           0.000000
term                      0.000000
int_rate                  0.000000
                           ...
num_actv_bc_tl          100.000000
num_actv_rev_tl         100.000000
num_bc_sats             100.000000
pub_rec_bankruptcies      1.754916
tax_liens                 0.098195
Length: 93, dtype: float64

In [36]:
df.drop(['num_actv_bc_tl'],axis=1,inplace=True)

In [37]:
df.drop(['num_actv_rev_tl'],axis=1,inplace=True)

In [38]:
df.drop(['num_bc_sats'],axis=1,inplace=True)

In [39]:
df.isnull().sum()/len(df)*100

loan_amnt                           0.000000
funded_amnt                         0.000000
funded_amnt_inv                     0.000000
term                                0.000000
int_rate                            0.000000
                                     ...
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
pub_rec_bankruptcies                1.754916
tax_liens                           0.098195
Length: 90, dtype: float64

In [40]:
df.drop(['mths_since_recent_inq'],axis=1,inplace=True)

In [41]:
df.drop(['mths_since_recent_revol_delinq'],axis=1,inplace=True)

In [42]:
df.drop(['num_accts_ever_120_pd'],axis=1,inplace=True)

In [43]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
mort_acc                    100.000000
mths_since_recent_bc        100.000000
mths_since_recent_bc_dlq    100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 87, dtype: float64

In [44]:
df.drop(['mths_since_recent_bc'],axis=1,inplace=True)

In [45]:
df.drop(['mort_acc'],axis=1,inplace=True)

In [46]:
df.drop(['mths_since_recent_bc_dlq'],axis=1,inplace=True)

In [47]:
df.isnull().sum()/len(df)*100

loan_amnt                  0.000000
funded_amnt                0.000000
funded_amnt_inv            0.000000
term                       0.000000
int_rate                   0.000000
                            ...
mo_sin_old_rev_tl_op     100.000000
mo_sin_rcnt_rev_tl_op    100.000000
mo_sin_rcnt_tl           100.000000
pub_rec_bankruptcies       1.754916
tax_liens                  0.098195
Length: 84, dtype: float64

In [48]:
df.isnull().sum()/len(df)*100

loan_amnt                  0.000000
funded_amnt                0.000000
funded_amnt_inv            0.000000
term                       0.000000
int_rate                   0.000000
                            ...
mo_sin_old_rev_tl_op     100.000000
mo_sin_rcnt_rev_tl_op    100.000000
mo_sin_rcnt_tl           100.000000
pub_rec_bankruptcies       1.754916
tax_liens                  0.098195
Length: 84, dtype: float64

In [49]:
df.drop(['mo_sin_old_il_acct'],axis=1,inplace=True)

In [50]:
df.drop(['mo_sin_old_rev_tl_op'],axis=1,inplace=True)

In [51]:
df.drop(['mo_sin_rcnt_rev_tl_op'],axis=1,inplace=True)

In [52]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 81, dtype: float64

In [53]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 81, dtype: float64

In [54]:
df.drop(['bc_util'],axis=1,inplace=True)

In [55]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 80, dtype: float64

In [56]:
df.drop(['bc_open_to_buy'],axis=1,inplace=True)

In [57]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 79, dtype: float64

In [58]:
df.drop(['avg_cur_bal'],axis=1,inplace=True)

In [59]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 78, dtype: float64

In [60]:
df.drop(['acc_open_past_24mths'],axis=1,inplace=True)

In [61]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 77, dtype: float64

In [62]:
df.drop(['inq_last_12m'],axis=1,inplace=True)

In [63]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 76, dtype: float64

In [64]:
df.drop(['total_cu_tl'],axis=1,inplace=True)

In [65]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 75, dtype: float64

In [66]:
df.drop(['inq_fi'],axis=1,inplace=True)

In [67]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 74, dtype: float64

In [68]:
df.drop(['total_rev_hi_lim'],axis=1,inplace=True)

In [69]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 73, dtype: float64

In [70]:
df.drop(['all_util'],axis=1,inplace=True)

In [71]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 72, dtype: float64

In [72]:
df.drop(['max_bal_bc'],axis=1,inplace=True)

In [73]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 71, dtype: float64

In [74]:
df.drop(['open_rv_24m'],axis=1,inplace=True)

In [75]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 70, dtype: float64

In [76]:
df.drop(['open_rv_12m'],axis=1,inplace=True)

In [77]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 69, dtype: float64

In [78]:
df.drop(['il_util'],axis=1,inplace=True)

In [79]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 68, dtype: float64

In [80]:
df.drop(['total_bal_il'],axis=1,inplace=True)

In [81]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 67, dtype: float64

In [82]:
df.drop(['mths_since_rcnt_il'],axis=1,inplace=True)

In [83]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 66, dtype: float64

In [84]:
df.drop(['open_il_24m'],axis=1,inplace=True)

In [85]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 65, dtype: float64

In [86]:
df.drop(['open_il_12m'],axis=1,inplace=True)

In [87]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 64, dtype: float64

In [88]:
df.drop(['open_il_6m'],axis=1,inplace=True)

In [89]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 63, dtype: float64

In [90]:
df.drop(['open_acc_6m'],axis=1,inplace=True)

In [91]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 62, dtype: float64

In [92]:
df.drop(['tot_cur_bal'],axis=1,inplace=True)

In [93]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
                               ...
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
mo_sin_rcnt_tl              100.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
Length: 61, dtype: float64

In [94]:
df.drop(['mths_since_last_delinq'],axis=1,inplace=True)

In [95]:
df.drop(['mths_since_last_record'],axis=1,inplace=True)

In [96]:
df.drop(['next_pymnt_d'],axis=1,inplace=True)

In [97]:
df.drop(['mths_since_last_major_derog'],axis=1,inplace=True)

In [98]:
df.drop(['annual_inc_joint'],axis=1,inplace=True)

In [99]:
df.drop(['dti_joint'],axis=1,inplace=True)

In [100]:
df.drop(['verification_status_joint'],axis=1,inplace=True)

In [101]:
df.drop(['tot_coll_amt'],axis=1,inplace=True)

In [102]:
df.isnull().sum()/len(df)*100

loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
term                            0.000000
int_rate                        0.000000
installment                     0.000000
grade                           0.000000
sub_grade                       0.000000
emp_title                       6.191303
emp_length                      2.706650
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_d                         0.000000
loan_status                     0.000000
pymnt_plan                      0.000000
url                             0.000000
desc                           32.580507
purpose                         0.000000
title                           0.027696
zip_code                        0.000000
addr_state                      0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_cr_line                0.000000
inq_last_6mths                  0.000000
open_acc                        0.000000
pub_rec                         0.000000
revol_bal                       0.000000
revol_util                      0.125891
total_acc                       0.000000
initial_list_status             0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_pymnt                     0.000000
total_pymnt_inv                 0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_pymnt_d                    0.178765
last_pymnt_amnt                 0.000000
last_credit_pull_d              0.005036
collections_12_mths_ex_med      0.140998
policy_code                     0.000000
application_type                0.000000
acc_now_delinq                  0.000000
chargeoff_within_12_mths        0.140998
delinq_amnt                     0.000000
mo_sin_rcnt_tl                100.000000
pub_rec_bankruptcies            1.754916
tax_liens                       0.098195
dtype: float64

In [103]:
df['desc'].value_counts

<bound method IndexOpsMixin.value_counts of 0          Borrower added on 12/22/11 > I need to upgra...
1          Borrower added on 12/22/11 > I plan to use t...
2                                                      NaN
3          Borrower added on 12/21/11 > to pay for prop...
4          Borrower added on 12/21/11 > I plan on combi...
                               ...
39712    Our current gutter system on our home is old a...
39713    The rate of interest and fees incurred by carr...
39714                                                  NaN
39715                                                  NaN
39716    I plan to consolidate over $7,000 of debt: a c...
Name: desc, Length: 39717, dtype: object>

In [104]:
df.drop(['desc'],axis=1,inplace=True)

In [105]:
df['emp_title'].unique()

array([nan, 'Ryder', 'AIR RESOURCES BOARD', ..., 'FiSite Research',
       'Squarewave Solutions, Ltd.', 'Evergreen Center'], dtype=object)

In [106]:
df['emp_title'].value_counts()

US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64

In [107]:
df['emp_title'].mode()[0]

'US Army'

In [108]:
df['emp_title']=df['emp_title'].fillna(df['emp_title'].mode()[0])

In [109]:
df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [110]:
df['emp_length']=df['emp_length'].fillna(df['emp_length'].mode()[0])

In [111]:
df.isnull().sum()/len(df)*100

loan_amnt                       0.000000
funded_amnt                     0.000000
funded_amnt_inv                 0.000000
term                            0.000000
int_rate                        0.000000
installment                     0.000000
grade                           0.000000
sub_grade                       0.000000
emp_title                       0.000000
emp_length                      0.000000
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_d                         0.000000
loan_status                     0.000000
pymnt_plan                      0.000000
url                             0.000000
purpose                         0.000000
title                           0.027696
zip_code                        0.000000
addr_state                      0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_cr_line                0.000000
inq_last_6mths                  0.000000
open_acc                        0.000000
pub_rec                         0.000000
revol_bal                       0.000000
revol_util                      0.125891
total_acc                       0.000000
initial_list_status             0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_pymnt                     0.000000
total_pymnt_inv                 0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_pymnt_d                    0.178765
last_pymnt_amnt                 0.000000
last_credit_pull_d              0.005036
collections_12_mths_ex_med      0.140998
policy_code                     0.000000
application_type                0.000000
acc_now_delinq                  0.000000
chargeoff_within_12_mths        0.140998
delinq_amnt                     0.000000
mo_sin_rcnt_tl                100.000000
pub_rec_bankruptcies            1.754916
tax_liens                       0.098195
dtype: float64

In [112]:
df.drop(['mo_sin_rcnt_tl'],axis=1,inplace=True)

In [113]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_title                     0.000000
emp_length                    0.000000
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_d                       0.000000
loan_status                   0.000000
pymnt_plan                    0.000000
url                           0.000000
purpose                       0.000000
title                         0.027696
zip_code                      0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
open_acc                      0.000000
pub_rec                       0.000000
revol_bal                     0.000000
revol_util                    0.125891
total_acc                     0.000000
initial_list_status           0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_d                  0.178765
last_pymnt_amnt               0.000000
last_credit_pull_d            0.005036
collections_12_mths_ex_med    0.140998
policy_code                   0.000000
application_type              0.000000
acc_now_delinq                0.000000
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
dtype: float64

In [114]:
df.dropna(inplace=True)

In [115]:
df.isnull().sum()/len(df)*100

loan_amnt                     0.0
funded_amnt                   0.0
funded_amnt_inv               0.0
term                          0.0
int_rate                      0.0
installment                   0.0
grade                         0.0
sub_grade                     0.0
emp_title                     0.0
emp_length                    0.0
home_ownership                0.0
annual_inc                    0.0
verification_status           0.0
issue_d                       0.0
loan_status                   0.0
pymnt_plan                    0.0
url                           0.0
purpose                       0.0
title                         0.0
zip_code                      0.0
addr_state                    0.0
dti                           0.0
delinq_2yrs                   0.0
earliest_cr_line              0.0
inq_last_6mths                0.0
open_acc                      0.0
pub_rec                       0.0
revol_bal                     0.0
revol_util                    0.0
total_acc                     0.0
initial_list_status           0.0
out_prncp                     0.0
out_prncp_inv                 0.0
total_pymnt                   0.0
total_pymnt_inv               0.0
total_rec_prncp               0.0
total_rec_int                 0.0
total_rec_late_fee            0.0
recoveries                    0.0
collection_recovery_fee       0.0
last_pymnt_d                  0.0
last_pymnt_amnt               0.0
last_credit_pull_d            0.0
collections_12_mths_ex_med    0.0
policy_code                   0.0
application_type              0.0
acc_now_delinq                0.0
chargeoff_within_12_mths      0.0
delinq_amnt                   0.0
pub_rec_bankruptcies          0.0
tax_liens                     0.0
dtype: float64

In [116]:
obj=df.select_dtypes(include=['O'])

In [117]:
obj.columns

Index(['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'purpose', 'title', 'zip_code', 'addr_state',
       'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d',
       'last_credit_pull_d', 'application_type'],
      dtype='object')

In [118]:
df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [119]:
df['int_rate'].value_counts()

10.99%    956
13.49%    824
11.49%    819
7.51%     786
7.88%     725
         ...
10.64%      1
20.52%      1
16.01%      1
16.33%      1
12.49%      1
Name: int_rate, Length: 336, dtype: int64

In [120]:
df.drop(['int_rate'],axis=1,inplace=True)

In [121]:
df['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [122]:
df['sub_grade'].unique()

array(['B2', 'C4', 'C5', 'C1', 'B5', 'A4', 'E1', 'F2', 'C3', 'B1', 'D1',
       'A1', 'B3', 'B4', 'D2', 'A3', 'A5', 'D5', 'A2', 'E4', 'D3', 'C2',
       'D4', 'F3', 'E3', 'F4', 'F1', 'E5', 'G4', 'E2', 'G3', 'G2', 'G1',
       'F5', 'G5'], dtype=object)

In [123]:
df.drop(['sub_grade'],axis=1,inplace=True)

In [124]:
df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [125]:
df['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [126]:
df['verification_status'].unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [127]:
df['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07'], dtype=object)

In [128]:
df['issue_d'].str.split('-').str[0]

0        Dec
1        Dec
2        Dec
3        Dec
4        Dec
        ...
39475    Dec
39551    Dec
39562    Nov
39573    Nov
39623    Oct
Name: issue_d, Length: 38889, dtype: object

In [129]:
df['issue_d_month']=df['issue_d'].str.split('-').str[0]

In [130]:
df['issue_d_date']=df['issue_d'].str.split('-').str[1]

In [131]:
df.drop(['issue_d'],axis=1,inplace=True)

In [132]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,issue_d_month,issue_d_date
0,5000,5000,4975.0,36 months,162.87,B,US Army,10+ years,RENT,24000.0,...,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,Dec,11
1,2500,2500,2500.0,60 months,59.83,C,Ryder,< 1 year,RENT,30000.0,...,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,Dec,11
2,2400,2400,2400.0,36 months,84.33,C,US Army,10+ years,RENT,12252.0,...,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,Dec,11
3,10000,10000,10000.0,36 months,339.31,C,AIR RESOURCES BOARD,10+ years,RENT,49200.0,...,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,Dec,11
4,3000,3000,3000.0,60 months,67.79,B,University Medical Group,1 year,RENT,80000.0,...,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0,Dec,11

In [133]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [134]:
df['pymnt_plan'].unique()

array(['n'], dtype=object)

In [135]:
df['pymnt_plan']

0        n
1        n
2        n
3        n
4        n
        ..
39475    n
39551    n
39562    n
39573    n
39623    n
Name: pymnt_plan, Length: 38889, dtype: object

In [136]:
df['url'].unique()

array(['https://lendingclub.com/browse/loanDetail.action?loan_id=1077501',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=1077430',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=1077175',
       ...,
       'https://lendingclub.com/browse/loanDetail.action?loan_id=154154',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=150940',
       'https://lendingclub.com/browse/loanDetail.action?loan_id=132892'],
      dtype=object)

In [137]:
df.drop(['url'],axis=1,inplace=True)

In [138]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [139]:
df['zip_code'].unique()

array(['860xx', '309xx', '606xx', '917xx', '972xx', '852xx', '280xx',
       '900xx', '958xx', '774xx', '853xx', '913xx', '245xx', '951xx',
       '641xx', '921xx', '067xx', '890xx', '770xx', '335xx', '799xx',
       '605xx', '150xx', '326xx', '564xx', '141xx', '080xx', '330xx',
       '974xx', '934xx', '405xx', '946xx', '445xx', '850xx', '604xx',
       '292xx', '088xx', '180xx', '029xx', '700xx', '010xx', '441xx',
       '104xx', '061xx', '616xx', '947xx', '914xx', '765xx', '980xx',
       '017xx', '752xx', '787xx', '077xx', '540xx', '225xx', '440xx',
       '437xx', '559xx', '912xx', '325xx', '300xx', '923xx', '352xx',
       '013xx', '146xx', '074xx', '786xx', '937xx', '331xx', '115xx',
       '191xx', '114xx', '908xx', '902xx', '992xx', '750xx', '950xx',
       '329xx', '226xx', '614xx', '802xx', '672xx', '083xx', '100xx',
       '926xx', '931xx', '712xx', '060xx', '707xx', '342xx', '895xx',
       '430xx', '919xx', '996xx', '891xx', '935xx', '801xx', '928xx',
       '233xx', '927xx', '970xx', '211xx', '303xx', '070xx', '194xx',
       '263xx', '403xx', '301xx', '553xx', '993xx', '312xx', '432xx',
       '602xx', '216xx', '151xx', '971xx', '305xx', '334xx', '050xx',
       '129xx', '925xx', '483xx', '760xx', '961xx', '200xx', '085xx',
       '981xx', '103xx', '601xx', '117xx', '063xx', '920xx', '543xx',
       '775xx', '570xx', '038xx', '221xx', '985xx', '113xx', '275xx',
       '236xx', '148xx', '028xx', '450xx', '532xx', '729xx', '321xx',
       '959xx', '941xx', '955xx', '217xx', '880xx', '660xx', '062xx',
       '193xx', '761xx', '857xx', '306xx', '271xx', '142xx', '956xx',
       '983xx', '945xx', '109xx', '112xx', '187xx', '630xx', '435xx',
       '488xx', '287xx', '705xx', '592xx', '318xx', '549xx', '212xx',
       '347xx', '274xx', '265xx', '785xx', '027xx', '089xx', '813xx',
       '069xx', '260xx', '201xx', '349xx', '322xx', '075xx', '124xx',
       '940xx', '967xx', '111xx', '773xx', '997xx', '076xx', '538xx',
       '021xx', '304xx', '234xx', '308xx', '809xx', '071xx', '363xx',
       '296xx', '240xx', '830xx', '011xx', '622xx', '207xx', '140xx',
       '336xx', '619xx', '208xx', '618xx', '014xx', '644xx', '283xx',
       '276xx', '631xx', '243xx', '960xx', '181xx', '922xx', '224xx',
       '975xx', '105xx', '986xx', '218xx', '652xx', '782xx', '410xx',
       '480xx', '328xx', '719xx', '982xx', '065xx', '081xx', '954xx',
       '346xx', '442xx', '025xx', '122xx', '173xx', '282xx', '120xx',
       '082xx', '766xx', '229xx', '840xx', '744xx', '933xx', '451xx',
       '907xx', '728xx', '159xx', '333xx', '293xx', '701xx', '984xx',
       '811xx', '597xx', '957xx', '165xx', '720xx', '119xx', '359xx',
       '195xx', '084xx', '969xx', '924xx', '531xx', '716xx', '337xx',
       '841xx', '323xx', '740xx', '179xx', '805xx', '285xx', '551xx',
       '658xx', '944xx', '232xx', '905xx', '600xx', '327xx', '711xx',
       '906xx', '444xx', '856xx', '777xx', '072xx', '554xx', '145xx',
       '537xx', '152xx', '847xx', '295xx', '829xx', '320xx', '131xx',
       '939xx', '572xx', '281xx', '064xx', '550xx', '078xx', '452xx',
       '778xx', '313xx', '851xx', '784xx', '804xx', '571xx', '210xx',
       '988xx', '400xx', '995xx', '023xx', '158xx', '657xx', '016xx',
       '019xx', '290xx', '190xx', '366xx', '066xx', '991xx', '968xx',
       '721xx', '439xx', '640xx', '546xx', '024xx', '751xx', '431xx',
       '741xx', '904xx', '156xx', '316xx', '299xx', '087xx', '739xx',
       '949xx', '261xx', '073xx', '222xx', '244xx', '617xx', '018xx',
       '286xx', '759xx', '952xx', '930xx', '911xx', '220xx', '731xx',
       '730xx', '262xx', '338xx', '160xx', '031xx', '054xx', '223xx',
       '272xx', '882xx', '557xx', '797xx', '725xx', '130xx', '030xx',
       '206xx', '324xx', '170xx', '291xx', '161xx', '647xx', '916xx',
       '665xx', '209xx', '915xx', '110xx', '086xx', '484xx', '844xx',
       '020xx', '354xx', '448xx', '978xx', '757xx', '953xx', '577xx',
       '315xx', '664xx', '186xx', '182xx', '574xx', '800xx', '197xx',
       '137xx', '314xx', '755xx', '973xx', '603xx', '481xx', '780xx',
       '894xx', '341xx', '361xx', '178xx', '068xx', '565xx', '611xx',
       '288xx', '443xx', '662xx', '874xx', '560xx', '535xx', '499xx',
       '162xx', '756xx', '168xx', '827xx', '541xx', '615xx', '989xx',
       '037xx', '863xx', '339xx', '367xx', '273xx', '052xx', '623xx',
       '416xx', '648xx', '918xx', '436xx', '898xx', '674xx', '496xx',
       '294xx', '762xx', '128xx', '903xx', '932xx', '650xx', '246xx',
       '633xx', '666xx', '228xx', '015xx', '302xx', '573xx', '118xx',
       '998xx', '767xx', '490xx', '350xx', '591xx', '254xx', '566xx',
       '596xx', '637xx', '032xx', '763xx', '494xx', '402xx', '545xx',
       '184xx', '239xx', '977xx', '297xx', '284xx', '144xx', '748xx',
       '310xx', '147xx', '153xx', '544xx', '948xx', '576xx', '976xx',
       '107xx', '846xx', '344xx', '351xx', '754xx', '910xx', '656xx',
       '357xx', '791xx', '493xx', '855xx', '278xx', '125xx', '175xx',
       '530xx', '171xx', '703xx', '620xx', '438xx', '626xx', '307xx',
       '636xx', '319xx', '116xx', '645xx', '708xx', '816xx', '625xx',
       '133xx', '612xx', '238xx', '166xx', '231xx', '241xx', '826xx',
       '783xx', '793xx', '646xx', '188xx', '108xx', '653xx', '871xx',
       '057xx', '796xx', '990xx', '219xx', '724xx', '456xx', '214xx',
       '237xx', '737xx', '121xx', '199xx', '548xx', '453xx', '704xx',
       '368xx', '828xx', '598xx', '136xx', '610xx', '433xx', '722xx',
       '743xx', '810xx', '706xx', '235xx', '139xx', '613xx', '454xx',
       '317xx', '746xx', '446xx', '486xx', '033xx', '279xx', '407xx',
       '803xx', '794xx', '457xx', '189xx', '196xx', '539xx', '424xx',
       '492xx', '482xx', '667xx', '845xx', '608xx', '401xx', '362xx',
       '627xx', '717xx', '356xx', '607xx', '963xx', '198xx', '936xx',
       '713xx', '227xx', '883xx', '563xx', '893xx', '079xx', '806xx',
       '360xx', '172xx', '422xx', '768xx', '034xx', '735xx', '870xx',
       '012xx', '594xx', '215xx', '628xx', '749xx', '101xx', '814xx',
       '255xx', '745xx', '495xx', '132xx', '183xx', '864xx', '106xx',
       '663xx', '943xx', '094xx', '177xx', '365xx', '897xx', '776xx',
       '843xx', '458xx', '421xx', '253xx', '795xx', '727xx', '528xx',
       '270xx', '808xx', '277xx', '447xx', '358xx', '815xx', '250xx',
       '230xx', '790xx', '884xx', '242xx', '534xx', '404xx', '397xx',
       '434xx', '671xx', '655xx', '675xx', '053xx', '859xx', '126xx',
       '102xx', '256xx', '673xx', '489xx', '258xx', '423xx', '497xx',
       '788xx', '127xx', '176xx', '380xx', '058xx', '635xx', '498xx',
       '820xx', '599xx', '822xx', '638xx', '723xx', '449xx', '420xx',
       '157xx', '726xx', '185xx', '527xx', '298xx', '769xx', '257xx',
       '881xx', '575xx', '624xx', '134xx', '877xx', '781xx', '718xx',
       '670xx', '138xx', '026xx', '678xx', '398xx', '411xx', '149xx',
       '247xx', '875xx', '838xx', '651xx', '364xx', '203xx', '427xx',
       '629xx', '355xx', '174xx', '547xx', '567xx', '558xx', '135xx',
       '035xx', '999xx', '634xx', '455xx', '143xx', '154xx', '562xx',
       '779xx', '561xx', '734xx', '789xx', '812xx', '268xx', '051xx',
       '865xx', '406xx', '661xx', '758xx', '676xx', '491xx', '267xx',
       '609xx', '595xx', '259xx', '163xx', '264xx', '409xx', '376xx',
       '471xx', '375xx', '747xx', '123xx', '714xx', '590xx', '639xx',
       '412xx', '425xx', '022xx', '369xx', '164xx', '825xx', '266xx',
       '096xx', '487xx', '251xx', '593xx', '169xx', '413xx', '155xx',
       '764xx', '710xx', '408xx', '668xx', '056xx', '669xx', '167xx',
       '542xx', '679xx', '462xx', '792xx', '824xx', '249xx', '798xx',
       '370xx', '485xx', '654xx', '289xx', '807xx', '252xx', '556xx',
       '353xx', '677xx', '090xx', '371xx', '831xx', '736xx', '007xx',
       '332xx', '468xx', '461xx', '093xx', '248xx', '463xx', '391xx',
       '381xx', '415xx', '378xx', '414xx', '396xx', '836xx', '044xx',
       '392xx', '772xx', '374xx', '823xx', '395xx', '394xx', '965xx',
       '390xx', '388xx', '386xx', '040xx', '385xx', '379xx', '681xx',
       '837xx', '373xx', '753xx', '834xx'], dtype=object)

In [140]:
df.drop(['zip_code'],axis=1,inplace=True)

In [141]:
df['addr_state'].unique()

array(['AZ', 'GA', 'IL', 'CA', 'OR', 'NC', 'TX', 'VA', 'MO', 'CT', 'UT',
       'FL', 'PA', 'MN', 'NY', 'NJ', 'KY', 'OH', 'SC', 'RI', 'LA', 'MA',
       'WA', 'WI', 'AL', 'CO', 'KS', 'NV', 'AK', 'MD', 'WV', 'VT', 'MI',
       'DC', 'SD', 'NH', 'AR', 'NM', 'MT', 'HI', 'WY', 'OK', 'DE', 'MS',
       'TN', 'IA', 'NE', 'ID'], dtype=object)

In [142]:
df.drop(['addr_state'],axis=1,inplace=True)

In [143]:
df['earliest_cr_line'].unique()

array(['Jan-85', 'Apr-99', 'Nov-01', 'Feb-96', 'Jan-96', 'Nov-04',
       'Jul-05', 'Jan-07', 'Apr-04', 'Sep-04', 'Jan-98', 'Oct-89',
       'Jul-03', 'May-91', 'Sep-07', 'Oct-98', 'Aug-93', 'Oct-03',
       'Jan-01', 'Nov-97', 'Feb-83', 'Jul-85', 'Apr-03', 'Jun-01',
       'Feb-02', 'Aug-84', 'Nov-06', 'Dec-87', 'Nov-81', 'Feb-97',
       'Apr-05', 'Oct-07', 'Dec-00', 'Apr-07', 'Dec-01', 'Jan-03',
       'Mar-94', 'Sep-98', 'Jun-04', 'Nov-95', 'Jul-99', 'Jun-95',
       'Sep-92', 'Jan-02', 'Apr-92', 'Oct-06', 'May-00', 'Dec-98',
       'Dec-04', 'Oct-00', 'May-02', 'May-06', 'Jul-02', 'Jul-06',
       'May-97', 'Oct-05', 'Apr-95', 'Oct-02', 'Jan-00', 'Apr-00',
       'Dec-94', 'Sep-05', 'Dec-84', 'Dec-99', 'Nov-03', 'Jun-89',
       'Jun-03', 'Oct-96', 'May-03', 'Jun-02', 'Jun-07', 'Dec-96',
       'Feb-84', 'Sep-02', 'Jan-86', 'May-98', 'Jan-97', 'Jun-05',
       'Feb-90', 'Mar-04', 'Jul-95', 'Aug-94', 'Jun-92', 'Mar-97',
       'Apr-06', 'Apr-90', 'Aug-99', 'Sep-00', 'Feb-01', 'Dec-88',
       'Feb-99', 'Dec-91', 'Aug-00', 'Oct-04', 'Aug-04', 'Feb-05',
       'Nov-05', 'Nov-00', 'May-07', 'Jan-91', 'Jun-00', 'Aug-06',
       'Dec-02', 'Jun-93', 'Jun-06', 'Feb-04', 'Dec-90', 'Mar-00',
       'Feb-95', 'Jul-01', 'Apr-02', 'Sep-06', 'May-99', 'Aug-98',
       'Dec-05', 'May-04', 'Oct-01', 'Jun-83', 'Mar-86', 'Apr-80',
       'Jul-04', 'Jul-08', 'May-96', 'Jan-04', 'Nov-02', 'Aug-02',
       'Aug-01', 'Mar-91', 'Sep-89', 'Sep-94', 'Sep-03', 'Sep-99',
       'Aug-05', 'Dec-86', 'Nov-98', 'Feb-06', 'May-94', 'Nov-07',
       'Feb-93', 'Nov-91', 'May-05', 'Dec-73', 'May-01', 'Mar-90',
       'Mar-96', 'Oct-79', 'Jun-81', 'Mar-01', 'Apr-01', 'Jun-99',
       'Nov-93', 'Jan-06', 'Dec-97', 'Nov-94', 'Jul-97', 'Oct-91',
       'Jun-94', 'Mar-06', 'Sep-96', 'Apr-91', 'Jul-93', 'Jan-95',
       'Sep-87', 'Mar-03', 'Oct-99', 'Jul-96', 'Dec-03', 'Aug-88',
       'Jan-92', 'Mar-98', 'Feb-07', 'Aug-82', 'Mar-95', 'Dec-92',
       'Jul-98', 'Jul-89', 'May-90', 'Jul-94', 'Sep-01', 'Mar-84',
       'Aug-03', 'Nov-99', 'Mar-07', 'Mar-08', 'Apr-94', 'Jan-05',
       'Jul-86', 'Aug-90', 'May-92', 'Jul-00', 'Mar-88', 'May-83',
       'Apr-93', 'Jul-78', 'Feb-00', 'Dec-81', 'Mar-92', 'Jan-81',
       'Sep-90', 'Jun-98', 'May-93', 'Nov-96', 'Mar-02', 'Jan-88',
       'Aug-97', 'Aug-87', 'Aug-08', 'Oct-94', 'Oct-86', 'Feb-94',
       'Jun-96', 'Feb-98', 'Nov-08', 'Apr-98', 'Jul-79', 'Jan-93',
       'May-87', 'Jul-71', 'Aug-07', 'Jun-97', 'Mar-80', 'Dec-06',
       'Jul-07', 'Oct-95', 'Jul-91', 'Jul-92', 'Dec-72', 'Dec-93',
       'Jan-99', 'Feb-03', 'Apr-97', 'Dec-95', 'Apr-96', 'Jul-90',
       'Mar-70', 'Nov-84', 'Apr-84', 'Jul-84', 'Aug-95', 'Mar-99',
       'Sep-88', 'Mar-89', 'Mar-87', 'Oct-97', 'Dec-80', 'Jan-94',
       'Sep-95', 'Mar-05', 'Jan-89', 'Feb-92', 'Jan-90', 'Nov-90',
       'Mar-69', 'Jun-75', 'Mar-85', 'Dec-07', 'Oct-93', 'Dec-89',
       'Sep-80', 'Jun-88', 'May-78', 'Apr-73', 'Aug-89', 'Oct-90',
       'Sep-91', 'Feb-82', 'Feb-87', 'Nov-85', 'Jan-84', 'Jul-88',
       'May-08', 'Oct-85', 'Mar-83', 'Aug-91', 'Sep-86', 'Jun-90',
       'Feb-86', 'Sep-97', 'Jun-84', 'Sep-81', 'Apr-86', 'Aug-79',
       'Aug-80', 'Nov-92', 'Sep-93', 'Jun-87', 'Sep-82', 'Aug-92',
       'Aug-85', 'Jul-83', 'Jun-91', 'Dec-83', 'Jan-87', 'Nov-78',
       'Oct-84', 'Aug-96', 'Nov-89', 'Sep-76', 'Nov-86', 'Oct-87',
       'Sep-08', 'May-77', 'May-86', 'Mar-81', 'Jan-83', 'Nov-76',
       'Sep-79', 'Oct-83', 'Sep-62', 'Jun-85', 'May-82', 'Feb-88',
       'Oct-92', 'Aug-83', 'Jun-73', 'Apr-85', 'Oct-88', 'Oct-81',
       'Sep-68', 'Jul-74', 'Nov-87', 'May-95', 'Feb-91', 'Nov-88',
       'Mar-93', 'Jun-08', 'Jul-80', 'Dec-82', 'Mar-75', 'Feb-80',
       'Apr-88', 'Dec-79', 'Sep-85', 'Sep-71', 'Mar-78', 'Feb-08',
       'Aug-78', 'Nov-70', 'Jun-79', 'Jun-80', 'Apr-89', 'Sep-83',
       'Feb-89', 'Nov-83', 'Jun-86', 'Oct-82', 'Aug-86', 'Oct-80',
       'May-88', 'Dec-85', 'Jan-82', 'Sep-77', 'Dec-76', 'Apr-82',
       'May-84', 'Apr-08', 'Feb-79', 'Jan-08', 'Sep-64', 'Jul-87',
       'Jan-78', 'May-89', 'Oct-77', 'Dec-75', 'Feb-85', 'Oct-08',
       'Nov-82', 'May-75', 'May-85', 'Feb-71', 'Jun-77', 'Apr-81',
       'May-79', 'Jan-72', 'Sep-67', 'Apr-78', 'Feb-65', 'Apr-83',
       'Nov-75', 'Jun-67', 'Mar-74', 'Jul-72', 'Aug-67', 'Apr-71',
       'Sep-84', 'May-81', 'Dec-70', 'Oct-73', 'Jan-71', 'Dec-63',
       'Apr-74', 'Jan-80', 'Aug-69', 'Apr-75', 'Jul-77', 'Mar-77',
       'Nov-69', 'Jan-76', 'Mar-82', 'Apr-87', 'Dec-69', 'May-74',
       'Aug-74', 'Jun-72', 'Mar-63', 'Nov-79', 'Aug-75', 'Sep-74',
       'Aug-81', 'May-73', 'Sep-73', 'Mar-73', 'Dec-77', 'Oct-76',
       'Jan-74', 'Jan-70', 'Aug-68', 'Feb-76', 'Jan-75', 'Oct-72',
       'Dec-74', 'Feb-73', 'Nov-65', 'Mar-72', 'Jun-82', 'Jun-74',
       'May-65', 'Jun-71', 'Oct-70', 'Apr-76', 'Oct-71', 'Apr-77',
       'Sep-78', 'Oct-78', 'Oct-54', 'Feb-81', 'Jan-77', 'Aug-77',
       'Dec-78', 'Aug-76', 'Jun-68', 'Jun-78', 'Jun-69', 'May-80',
       'Jan-79', 'Oct-65', 'Nov-74', 'Apr-66', 'Jun-76', 'Feb-72',
       'May-76', 'Mar-68', 'Mar-76', 'Jul-70', 'Mar-79', 'Jul-76',
       'Jul-82', 'Sep-65', 'Apr-67', 'Oct-63', 'Feb-70', 'Jul-73',
       'Feb-78', 'Nov-71', 'Aug-72', 'Jul-75', 'Sep-70', 'Jul-81',
       'Oct-64', 'Sep-72', 'May-70', 'May-63', 'Feb-69', 'Nov-80',
       'Jul-67', 'Apr-70', 'Nov-77', 'Nov-66', 'May-71', 'Apr-79',
       'May-72', 'Feb-68', 'Jul-64', 'Nov-67', 'Apr-64', 'Feb-75',
       'Jun-59', 'Sep-56', 'Jun-66', 'Jan-46', 'Mar-66', 'Jan-63',
       'Dec-50', 'Jul-69', 'Jan-68', 'Nov-73', 'Jun-70', 'Feb-77',
       'Feb-74', 'Jan-73', 'Feb-66', 'Dec-61', 'Aug-73', 'Aug-70',
       'Sep-69', 'Sep-75', 'Dec-68', 'Nov-54', 'Oct-69', 'Dec-65',
       'Apr-72', 'Nov-72', 'Sep-63', 'Apr-69', 'Nov-62', 'Oct-67',
       'May-67', 'Nov-61', 'Feb-67', 'Nov-68', 'Oct-75', 'Mar-71',
       'Aug-71', 'Dec-66', 'Oct-68', 'Oct-74'], dtype=object)

In [144]:
df.drop(['earliest_cr_line'],axis=1,inplace=True)

In [145]:
df['revol_util'].unique()

array(['83.70%', '9.40%', '98.50%', ..., '49.63%', '0.04%', '7.28%'],
      dtype=object)

In [146]:
df.drop(['revol_util'],axis=1,inplace=True)

In [147]:
df['initial_list_status'].unique()

array(['f'], dtype=object)

In [148]:
df['last_pymnt_d'].unique()

array(['Jan-15', 'Apr-13', 'Jun-14', 'May-16', 'Apr-12', 'Nov-12',
       'Jun-13', 'Sep-13', 'Jul-12', 'Oct-13', 'May-13', 'Feb-15',
       'Aug-15', 'Oct-12', 'Sep-12', 'Dec-12', 'Dec-14', 'Aug-13',
       'Nov-13', 'Jan-14', 'Apr-14', 'Aug-14', 'Oct-14', 'Aug-12',
       'Jul-14', 'Jul-13', 'Jan-16', 'Feb-16', 'Apr-15', 'Feb-14',
       'Sep-14', 'Jun-12', 'Feb-13', 'Mar-13', 'May-14', 'Mar-15',
       'Jan-13', 'Dec-13', 'Feb-12', 'Mar-14', 'Sep-15', 'Nov-15',
       'Mar-16', 'Jan-12', 'Oct-15', 'Nov-14', 'Mar-12', 'May-12',
       'Apr-16', 'Dec-15', 'Jun-15', 'May-15', 'Jul-15', 'Dec-11',
       'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11', 'Jun-11',
       'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11', 'Dec-10',
       'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10', 'Jun-10',
       'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10', 'Dec-09',
       'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09', 'Jun-09',
       'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09', 'Dec-08',
       'Oct-08', 'Aug-08', 'Jul-08', 'Sep-08', 'Jun-08', 'May-08',
       'Nov-08'], dtype=object)

In [149]:
df['last_pymnt_d_month']=df['last_pymnt_d'].str.split('-').str[0]

In [150]:
df['last_pymnt_d_date']=df['last_pymnt_d'].str.split('-').str[1]

In [151]:
df.drop(['last_pymnt_d'],axis=1,inplace=True)

In [152]:
df['last_credit_pull_d'].unique()

array(['May-16', 'Sep-13', 'Apr-16', 'Jan-16', 'Dec-14', 'Aug-12',
       'Mar-13', 'Dec-15', 'Aug-13', 'Nov-12', 'Mar-14', 'Apr-15',
       'May-14', 'Jul-15', 'Feb-16', 'Mar-16', 'Sep-12', 'May-13',
       'Jan-15', 'Jun-12', 'Mar-15', 'Dec-12', 'Sep-14', 'Feb-14',
       'Jun-15', 'Oct-13', 'Apr-14', 'Oct-14', 'Feb-13', 'Nov-15',
       'Jul-14', 'Sep-15', 'Oct-12', 'Nov-13', 'Nov-14', 'Feb-12',
       'Oct-15', 'Apr-12', 'Aug-15', 'Jun-14', 'Jan-12', 'Aug-14',
       'Jun-13', 'Dec-13', 'May-12', 'Jul-12', 'Jan-14', 'Jul-13',
       'Apr-13', 'May-15', 'Feb-15', 'Mar-12', 'Nov-11', 'Dec-11',
       'Jan-13', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11', 'Jun-11',
       'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11', 'Dec-10',
       'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10', 'Jun-10',
       'May-10', 'Apr-10', 'Feb-10', 'Mar-10', 'Aug-07', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Jul-09', 'Aug-09',
       'May-09', 'Jun-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Jun-08', 'Sep-08', 'May-08', 'Aug-08', 'Mar-08',
       'Oct-08'], dtype=object)

In [153]:
df['last_credit_pull_d_month']=df['last_credit_pull_d'].str.split('-').str[0]

In [154]:
df['last_credit_pull_d_date']=df['last_credit_pull_d'].str.split('-').str[1]

In [155]:
df.drop(['last_credit_pull_d'],axis=1,inplace=True)

In [156]:
df['application_type'].unique()

array(['INDIVIDUAL'], dtype=object)

In [157]:
df['application_type']

0        INDIVIDUAL
1        INDIVIDUAL
2        INDIVIDUAL
3        INDIVIDUAL
4        INDIVIDUAL
            ...
39475    INDIVIDUAL
39551    INDIVIDUAL
39562    INDIVIDUAL
39573    INDIVIDUAL
39623    INDIVIDUAL
Name: application_type, Length: 38889, dtype: object

In [158]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [159]:
df['term']=le.fit_transform(df['term'])

In [160]:
df['grade']=le.fit_transform(df['grade'])

In [161]:
df['emp_length']=le.fit_transform(df['emp_length'])

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38889 entries, 0 to 39623
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   38889 non-null  int64
 1   funded_amnt                 38889 non-null  int64
 2   funded_amnt_inv             38889 non-null  float64
 3   term                        38889 non-null  int32
 4   installment                 38889 non-null  float64
 5   grade                       38889 non-null  int32
 6   emp_title                   38889 non-null  object
 7   emp_length                  38889 non-null  int32
 8   home_ownership              38889 non-null  object
 9   annual_inc                  38889 non-null  float64
 10  verification_status         38889 non-null  object
 11  loan_status                 38889 non-null  object
 12  pymnt_plan                  38889 non-null  object
 13  purpose                     38889 non-null  object
 14  title                       38889 non-null  object
 15  dti                         38889 non-null  float64
 16  delinq_2yrs                 38889 non-null  int64
 17  inq_last_6mths              38889 non-null  int64
 18  open_acc                    38889 non-null  int64
 19  pub_rec                     38889 non-null  int64
 20  revol_bal                   38889 non-null  int64
 21  total_acc                   38889 non-null  int64
 22  initial_list_status         38889 non-null  object
 23  out_prncp                   38889 non-null  float64
 24  out_prncp_inv               38889 non-null  float64
 25  total_pymnt                 38889 non-null  float64
 26  total_pymnt_inv             38889 non-null  float64
 27  total_rec_prncp             38889 non-null  float64
 28  total_rec_int               38889 non-null  float64
 29  total_rec_late_fee          38889 non-null  float64
 30  recoveries                  38889 non-null  float64
 31  collection_recovery_fee     38889 non-null  float64
 32  last_pymnt_amnt             38889 non-null  float64
 33  collections_12_mths_ex_med  38889 non-null  float64
 34  policy_code                 38889 non-null  int64
 35  application_type            38889 non-null  object
 36  acc_now_delinq              38889 non-null  int64
 37  chargeoff_within_12_mths    38889 non-null  float64
 38  delinq_amnt                 38889 non-null  int64
 39  pub_rec_bankruptcies        38889 non-null  float64
 40  tax_liens                   38889 non-null  float64
 41  issue_d_month               38889 non-null  object
 42  issue_d_date                38889 non-null  object
 43  last_pymnt_d_month          38889 non-null  object
 44  last_pymnt_d_date           38889 non-null  object
 45  last_credit_pull_d_month    38889 non-null  object
 46  last_credit_pull_d_date     38889 non-null  object
dtypes: float64(18), int32(3), int64(11), object(15)
memory usage: 13.8+ MB

In [163]:
df['emp_title']=le.fit_transform(df['emp_title'])

In [164]:
df['home_ownership']=le.fit_transform(df['home_ownership'])

In [165]:
df['verification_status']=le.fit_transform(df['verification_status'])

In [166]:
df['loan_status']=le.fit_transform(df['loan_status'])

In [167]:
df['pymnt_plan']=le.fit_transform(df['pymnt_plan'])

In [168]:
df['purpose']=le.fit_transform(df['purpose'])

In [169]:
df['title']=le.fit_transform(df['title'])

In [170]:
df['initial_list_status']=le.fit_transform(df['initial_list_status'])

In [171]:
df['application_type']=le.fit_transform(df['application_type'])

In [172]:
df['issue_d_month']=le.fit_transform(df['issue_d_month'])

In [173]:
df['issue_d_date']=le.fit_transform(df['issue_d_date'])

In [174]:
df['last_pymnt_d_month']=le.fit_transform(df['last_pymnt_d_month'])

In [175]:
df['last_pymnt_d_date']=le.fit_transform(df['last_pymnt_d_date'])

In [176]:
df['last_credit_pull_d_month']=le.fit_transform(df['last_credit_pull_d_month'])

In [177]:
df['last_credit_pull_d_date']=le.fit_transform(df['last_credit_pull_d_date'])

In [178]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,issue_d_month,issue_d_date,last_pymnt_d_month,last_pymnt_d_date,last_credit_pull_d_month,last_credit_pull_d_date
0,5000,5000,4975.0,0,162.87,1,22739,1,3,24000.0,...,0.0,0,0.0,0.0,2,4,4,7,8,9
1,2500,2500,2500.0,1,59.83,2,18629,10,3,30000.0,...,0.0,0,0.0,0.0,2,4,0,5,11,6
2,2400,2400,2400.0,0,84.33,2,22739,1,3,12252.0,...,0.0,0,0.0,0.0,2,4,6,6,8,9
3,10000,10000,10000.0,0,339.31,2,327,1,3,49200.0,...,0.0,0,0.0,0.0,2,4,4,7,0,9
4,3000,3000,3000.0,1,67.79,1,23219,0,3,80000.0,...,0.0,0,0.0,0.0,2,4,8,8,8,9

In [179]:
df['loan_amnt'].value_counts()

10000    2756
12000    2298
5000     1997
6000     1877
15000    1857
         ...
24650       1
22950       1
16675       1
17375       1
23575       1
Name: loan_amnt, Length: 875, dtype: int64

In [180]:
X=df.drop(['loan_amnt'],axis=1)

In [181]:
y=df['loan_amnt']

In [185]:
from sklearn.model_selection import train_test_split

In [186]:
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.20,random_state=123)

In [187]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [188]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,Y_train)

RandomForestRegressor()

In [189]:
y_pred=rf.predict(X_test)

In [190]:
rf.score(X_train,Y_train)

0.9963272732573127

In [191]:
rf.score(X_test,Y_test)

0.9744575229820808